@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #1a2b3d;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 50px;
  color: white;
  font-weight: bold;
}

h1 {
  font-family: "Poppins", "Times New Roman", Times, serif;
  color: lightgoldenrodyellow;
}

h2 {
  font-family: "Poppins", "Times New Roman", Times, serif;
  color: lightgoldenrodyellow;
}

img {
  border-radius: 50%;
}

.github-link {
  margin-top: 100px;
  text-decoration: none;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 250px;
}

.menu-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  overflow: hidden;
  position: sticky;
  top: 0;
}

ul li {
  float: left;
  border-right: 1px solid #000000;
}

ul li:last-child {
  border-right: none;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: dimgrey;
}

 ul li a.active {
  background-color: indianred;
}
